:root {
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial,
    sans-serif;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 32px;
  font-weight: "700";
  margin-bottom: 0;
}

.subtitle {
  font-size: 18px;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.cell {
  height: 100px;
  width: 100px;
  color: #1f2937;
  border: 2px solid #616161;
  border-radius: 14px;
  background: #fff;
  cursor: pointer;
}

.button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 70px;
  height: 30px;
  margin-top: 20px;
  background: #f5f5f5;
  border-style: solid;
  border-radius: 12px;
  border-width: 1px;
  border-color: "#222";
  font-weight: 700;
  font-size: 15px;
  cursor: pointer;
}